In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("genome-scores.csv")
df2 = pd.read_csv("genome-tags.csv")
df3 = pd.read_csv("links.csv")
df4 = pd.read_csv("movies.csv")
df5 = pd.read_csv("ratings.csv")

In [3]:
tags_df = df.pivot(index='movieId', columns='tagId', values='relevance')
tags_df.to_csv('tags_df.csv')

In [4]:
tags_df.head()

tagId,1,2,3,4,5,6,7,8,9,10,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02900,0.02375,0.05425,0.06875,0.16000,0.19525,0.07600,0.25200,0.22750,0.02400,...,0.03775,0.02250,0.04075,0.03175,0.12950,0.04550,0.02000,0.03850,0.09125,0.02225
2,0.03625,0.03625,0.08275,0.08175,0.10200,0.06900,0.05775,0.10100,0.08225,0.05250,...,0.04775,0.02050,0.01650,0.02450,0.13050,0.02700,0.01825,0.01225,0.09925,0.01850
3,0.04150,0.04950,0.03000,0.09525,0.04525,0.05925,0.04000,0.14150,0.04075,0.03200,...,0.05800,0.02375,0.03550,0.02125,0.12775,0.03250,0.01625,0.02125,0.09525,0.01750
4,0.03350,0.03675,0.04275,0.02625,0.05250,0.03025,0.02425,0.07475,0.03750,0.02400,...,0.04900,0.03275,0.02125,0.03675,0.15925,0.05225,0.01500,0.01600,0.09175,0.01500
5,0.04050,0.05175,0.03600,0.04625,0.05500,0.08000,0.02150,0.07375,0.02825,0.02375,...,0.05375,0.02625,0.02050,0.02125,0.17725,0.02050,0.01500,0.01550,0.08875,0.01575

In [5]:
movies_df = df4
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
ratings_df = df5.groupby('movieId').mean()
ratings = ratings_df.drop(columns = ['userId', 'timestamp'])
ratings.head()
ratings.to_csv('ratings_df.csv')

In [7]:
movies_ratings_df = pd.merge(df4, ratings, how='inner', on='movieId')
movies_ratings_df.to_csv('movies_ratings_df.csv')

In [8]:
movies_ratings_df.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.246583
2,3,Grumpier Old Men (1995),Comedy|Romance,3.173981
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540
4,5,Father of the Bride Part II (1995),Comedy,3.077291

In [9]:
full_df = pd.merge(movies_ratings_df, tags_df, how='inner', on='movieId')

In [10]:
selections_df = full_df.drop(columns = ['movieId','title','genres'])

In [11]:
selections_df.head()

,rating,1,2,3,4,5,6,7,8,9,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
0,3.886649,0.02900,0.02375,0.05425,0.06875,0.16000,0.19525,0.07600,0.25200,0.22750,...,0.03775,0.02250,0.04075,0.03175,0.12950,0.04550,0.02000,0.03850,0.09125,0.02225
1,3.246583,0.03625,0.03625,0.08275,0.08175,0.10200,0.06900,0.05775,0.10100,0.08225,...,0.04775,0.02050,0.01650,0.02450,0.13050,0.02700,0.01825,0.01225,0.09925,0.01850
2,3.173981,0.04150,0.04950,0.03000,0.09525,0.04525,0.05925,0.04000,0.14150,0.04075,...,0.05800,0.02375,0.03550,0.02125,0.12775,0.03250,0.01625,0.02125,0.09525,0.01750
3,2.874540,0.03350,0.03675,0.04275,0.02625,0.05250,0.03025,0.02425,0.07475,0.03750,...,0.04900,0.03275,0.02125,0.03675,0.15925,0.05225,0.01500,0.01600,0.09175,0.01500
4,3.077291,0.04050,0.05175,0.03600,0.04625,0.05500,0.08000,0.02150,0.07375,0.02825,...,0.05375,0.02625,0.02050,0.02125,0.17725,0.02050,0.01500,0.01550,0.08875,0.01575

In [12]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=1000)

In [13]:
kmeans.fit(selections_df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=1000, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [14]:
predicted_clusters = kmeans.predict(selections_df)
print(predicted_clusters)

[179 740 826 ... 227 681 260]

In [15]:
clusters = pd.DataFrame(predicted_clusters)
full_df['clusters']=clusters

In [16]:
full_df.head()
full_df.to_csv('full_df.csv')

In [18]:
from sqlalchemy import create_engine
database = "C:\sqlite\db\moviesqlite.db"
engine = create_engine(database, echo=False)

In [46]:
full_df.to_sql('movies', con=engine)

In [48]:
engine.execute("ins")#SELECT * FROM movies Where cluster = '2' ").fetchall()

OperationalError: (sqlite3.OperationalError) no such column: cluster
[SQL: SELECT * FROM movies Where cluster = '2' ]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [79]:
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(n_neighbors=10)

In [91]:
knn.fit(selections_df)
knn.kneighbors([selections_df.iloc[1]], return_distance = False)

array([[    1,  1818,  2171,  8508,  1618,  8235,  9175, 13125,  3123,
         1780]])

In [95]:
full_df.iloc[1]

movieId                              2
title                   Jumanji (1995)
genres      Adventure|Children|Fantasy
rating                         3.24658
1                              0.03625
                       ...
1125                           0.01825
1126                           0.01225
1127                           0.09925
1128                            0.0185
clusters                            11
Name: 1, Length: 1133, dtype: object

In [83]:
selections2_df =